*.iml
.gradle
/local.properties
.idea/workspace.xml
.idea/libraries
.idea/inspectionProfiles/

.DS_Store
Thumbs.db

*.log
*.tmp
*.swp

/build
/captures
app/app-release.apk
app/src/androidTest/java/com/example/
app/src/test/java/com/example/
